.button{
  padding: 0 1rem;
  font-size: 1rem;
  height: 40px;
  background: $brand-color;
  border: 0;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s;

  &:not(.disabled){
    cursor: pointer;
    &:hover{
      background: darken($brand-color, 10%);
    }
    &:active{
      background: darken($brand-color, 20%);
    }
  }

  &.fluid{
    width: 100%;
  }
}
